NEXT_PUBLIC_PHARMACY_API_BASE_URL="https://api.pharmacy.example.com"
NEXT_PUBLIC_MEDICINE_API_BASE_URL="https://api.medication.example.com"

PHARMACY_API_URL="http://sophia-pharmacy-service:8080"
MEDICINE_API_URL="http://sophia-medication-service:3003"

NEXT_PUBLIC_AUTH_TOKEN_COOKIE_NAME="sophia-auth-token-cookie-name-example"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your-google-client-id"